.post {
    display: flex;
    flex: 1;
    margin: 0 1rem;
    border-radius: 10px;
}

.postItemLink {
    display: flex;
    flex-flow: column;
    width: 100%;
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;
}
.postImgWrap{
    position: relative;
    width: 100%;
    overflow: hidden;
}
.fade-img {
    animation-name: fade-img;
    animation-duration: 2s;
  }
.postImg {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    max-width: 100%;
    height: 280px;
    object-fit: cover;

    transition: all 0.2s linear;
}
.postImg:hover {
    transform: scale(1.1);
}
.postInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 30px 30px;
}
.postCat {
    font-family: sans-serif;
    font-size: 11px;
    color: #be9656;
    line-height: 20px;
    margin-top: 10px;
    cursor: pointer;
}

.PostTitle {
    font-size: 24px;
    font-weight: 700;
    margin-top: 15px;
    line-height: 24px;
    cursor: pointer;
    text-decoration: none;
}
.postDate {
    font-family: "Lora", serif;
    font-style: italic;
    font-size:  13px;
    color: #999;
    margin-top: 15px;
}
/* .postDesc {
    font-size: 18px;
    color: #444;
    line-height: 24px;
    margin-top: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
} */

